{% extends "layout.html" %}
{% block content %}
{% for comment in comments %}
    <div class="row">
        <div class="col-md-1">
          <a href="{% url "comment_page" comment.id %}">
            #{{ comment.id }}
          </a>
        </div>
        <div class="col-md-11">
          <h3>{{ comment.title }}</h3>
          <p>{{ comment.body|truncatewords:"20" }}</p>
          <a class="btn btn-primary" href="{% url "comment_page" comment.id %}">View Comment</a>
        </div>
      </div>
{% empty %}
    No comments
{% endfor %}

{% endblock content %}